@if (toDoData) {
<div class="rooms-wrapper">
    <div class="rooms-container">
        @for (room of toDoData; track room.id) {
        <div class="room-card">

            <div class="room-image">
                <img [src]="room.images?.[0]?.source" [alt]="room.name" loading="lazy" />
            </div>


            <div class="room-content">
                <h3 class="room-title">{{ room.name }}</h3>

                <div class="price-section">
                    <span class="price">₾ {{ room.pricePerNight }}</span>
                    <span class="per-night">/ night</span>
                </div>

                <button class="book-btn">
                    Book Now
                </button>
            </div>
        </div>
        }
    </div>
</div>
}