@if (hasError) {
  <p>მოხდა შეცდომა მონაცემების ჩატვირთვისას</p>
}

@if (toDoData) {
  <div class="rooms-container">
    @for (room of toDoData; track room.id) {
      <div class="room-card">

        <!-- ფოტო -->
        <img
          class="room-img"
          [src]="room.images?.[0]?.source"
          [alt]="room.name"
        />

        <!-- სახელი -->
        <h3>{{ room.name }}</h3>

        <!-- ფასი -->
        <p class="price">₾ {{ room.pricePerNight }} / night</p>

        <!-- ღილაკი -->
        <button class="book-btn">
          Book Now
        </button>

      </div>
    }
  </div>
} @else {
  <p>ჩატვირთვა...</p>
}
